<div class="row mx-3">
  <h4>Edit your Account Details</h4>

  <div class="col-md-4">
    <%= form_with model: @user, local: true do |f| %>
      <%= f.label :username %><br>
      <%= f.text_field :username, autofocus: true, class: 'form-control' %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %><br>

      <!-- Add an admin checkbox field -->
      <%= f.label :admin, class: 'form-check-label' %>
      <%= f.check_box :admin, class: 'form-check-input' %><br>

      <%= f.submit "Confirm Changes", class: 'btn btn-success btn-small' %>

      <%= link_to "Cancel", user_path(@user), class: 'btn btn-secondary btn-small' %>
    <% end %>
  </div>
  <div class="col-md-8"></div>
</div>
