<div class="row mx-3">
  <h4>Sign Up</h4>

  <div class="col-md-6">
    <%= form_with(model: @user, local: true) do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name, autofocus: true, class: 'form-control' %><br>

      <%= f.label :password %><br>
      <%= f.password_field :password, class: 'form-control' %><br>

      <!-- Add an admin checkbox field -->
      <%= f.label :admin, class: 'form-check-label' %>
      <%= f.check_box :admin, class: 'form-check-input' %><br><br>

      <%= f.submit "Sign Up", class: 'btn btn-success btn-small' %>
    <% end %>
  </div>
</div>
