<p style="color: green"><%= notice %></p>

<h1>Projects</h1>

<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <div>
      <%= button_to 'Show this project', project, method: :get %>
      <%= button_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure you want to delete this project?' } %>
    </div>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
